.star-rating {
    direction: ltr;
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
}

.star {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 200ms;
}

.star:hover {
    transform: scale(1.1);
}

