.star-rating {
    direction: ltr;
    display:flex;
}

.star-rating input[type="radio"] {
    display: none;
}

.star {
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 200ms;
}

.star:hover {
    transform: scale(1.1);
}
